{% extends "default.html" %}
{% block title %}Firmware Component Licenses{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-checksums') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h5>Component Licenses</h5>
    <p class="card-text text-muted">
      The list here indicates the license of the firmware <em>payload</em> only.
      Multiple licenses can be provided, altough usually just one is sufficient.
    </p>
<table class="table card-text mt-3">
{% for mdlic in md.licenses_map %}
  <tr class="row">
    <td class="col col-sm-3 text-monospace">
      {{mdlic.project_license.value}}
    </td>
    <td class="col col-sm-4">
      {{mdlic.project_license.name}}
    </td>
    <td class="col col-lg-3 text-secondary">Added on {{mdlic.ctime.strftime('%F %T')}} by {{mdlic.user.username}}</td>
    <td class="col col-sm-2 text-right">
{% if md.check_acl('@modify') %}
      <form action="{{url_for('components.route_license_delete', component_id=md.component_id, component_license_id=mdlic.component_license_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-warning">Remove</button>
      </form>
{% else %}
      <button class="btn-block btn btn-secondary" disabled="1">Remove</button>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_license_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
        <select class="form-control" name="value">
{% for lic in project_licenses %}
{% if lic not in md.licenses %}
          <option value="{{lic.license_id}}">
            {{lic.name}} [{{lic.value}}]
          </option>
{% endif %}
{% endfor %}
        </select>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>
  </div>
</div>

{% endblock %}
