{% extends "default.html" %}
{% block title %}File system checks{% endblock %}

{% block nav %}
{% include 'fsck-nav.html' %}
{% endblock %}

{% block content %}
{% if tasks|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">File system checks</h2>
    <p class="card-text">
      No file system checks have been run.
    </p>
  </div>
</div>
{% endif %}

{% for task in tasks %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{task.color}}">
    <code>{{task.value}}</code>
    <span class="float-right">
{% if task.ended_ts and task.started_ts %}
    Taking {{format_humanize_naturaldelta(task.ended_ts-task.started_ts)}}
{% endif %}
      {{format_humanize_naturaltime(task.started_ts)}}
    </span>
  </h2>
  <div class="card-body">
    <p class="card-text">
      {{format_plugin_id(task.plugin_id).summary}}
    </p>
{% if task.status %}
    <p class="card-text">
      Processing {{task.status}}…
{% if task.percentage %}
      {{task.percentage}}%
{% endif %}
    </p>
{% elif task.is_running %}
    <p class="card-text">Processing…</p>
{% endif %}
    <ul class="card-text">
{% if not task.is_running and not task.attributes %}
      <li class="list-group-item">No issues detected!</li>
{% endif %}
{% for attr in task.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% if task.container_id %}
    <p class="card-text">
      Run on container <code>{{task.container_id}}</code>.
    </p>
{% endif %}
{% if task.is_running %}
    <form action="{{url_for('tasks.route_cancel', task_id=task.task_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-warning float-right mx-1">Cancel</button>
    </form>
{% else %}
    <form action="{{url_for('tasks.route_delete', task_id=task.task_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right mx-1">Delete</button>
    </form>
{% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}
