{% extends "default.html" %}
{% block title %}Component GUIDs{% endblock %}

{% block content %}

<form id="import-csv" method="post" action="{{url_for('shards.route_import_csv')}}" enctype="multipart/form-data" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>

<div class="card form">
  <div class="card-body">
    <h4 class="card-title">Component GUIDs</h4>
    <p class="card-text">
      Information about what GUIDs maps to each firmware is collected from uploaded firmware and
      also added manually by firmware professionals.
      This data must be contributed and distributed under the
      <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0-1.0</a> license.
    </p>
{% if g.user.check_acl('@admin') %}
    <input form="import-csv" type="file" class="form-control-file mb-3" id="file-input" id="file" name="file" required/>
    <input form="import-csv" type="submit" class="card-link btn btn-warning" value="Import From CSV">
{% endif %}
    <a class="card-link btn btn-primary" href="{{url_for('shards.route_export_csv')}}">Export As CSV</a>
    <a class="card-link btn btn-primary" href="{{url_for('shards.route_export_json')}}">Export As JSON</a>
  </div>
</div>

{% if shards|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text text-secondary">
      No component GUIDs have been created.
    </p>
  </div>
</div>

{% else %}

{% for shard in shards %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      <code>{{shard.name or 'Invalid'}}</code> ({{shard.cnt}})
      <code class="float-right">{{shard.guid}}</code>
    </h2>
    <div class="card-text mb-3">
{% if shard.description %}
      {{shard.description}}
{% else %}
      No description!
{% endif %}
    </div>
    <a class="card-link btn btn-info"
      href="{{url_for('shards.route_show', component_shard_info_id=shard.component_shard_info_id)}}"
      role="button">Details</a>
    <a class="card-link btn btn-info"
      href="{{url_for('firmware.route_shard_search', kind='guid', value=shard.guid)}}"
      role="button">Firmware</a>
  </div>
</div>
{% endfor %}

{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new shard</h2>
    <form method="post" action="{{url_for('shards.route_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group card-text">
        <label for="guid">GUID</label>
        <input class="form-control" type="text" id="guid" name="guid" placeholder="9b3ada4f-ae56-4c24-8dea-f03b7558ae50" required />
      </div>
      <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
  </div>
</div>

{% endblock %}
