{% extends "default.html" %}
{% block title %}Firmware Details{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
{% if fw.is_deleted and fw.target_duration.total_seconds() > 60*60*24*30 %}
<div class="alert alert-warning mt-1" role="alert">
  This firmware will be purged after 6 months in the deleted state.
</div>
{% endif %}

{% if graph_data %}
<div class="card mb-3">
  <div class="card-body rounded-soft bg-gradient">
    <h2 class="card-title text-white">Downloads</h2>
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas class="rounded" id="metadataChartMonthsDays" width="1618" height="450" role="img"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{graph_labels|safe}},
    datasets: [
        {
            label: "Firmware",
            borderWidth: 3,
            borderColor: "rgba(255,255,255,0.8)",
            backgroundColor: "rgba(255,255,255,0.15)",
            data: {{graph_data|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      legend: {
          display: false
      },
      scales: {
        xAxes: [{
          ticks: {
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          },
        }],
        yAxes: [{
          ticks: {
            precision: 0,
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
            beginAtZero: true
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          }
        }]
      }
    }
});

</script>
{% endif %}


<div class="row no-gutters">
  <div class="col-xl-6">
    <div class="card overflow-hidden" style="min-width: 12rem">
      <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-1.png')}});"></div>
      <div class="card-body position-relative">
        <h2 class="card-title">
          Overview
{% if fw.vendor.icon %}
          <img class="img-thumbnail float-right" src="{{url_for('cdn', scope='uploads', filename=fw.vendor.icon)}}" width="64"/>
{% endif %}
        </h2>
        <p class="card-text">
{% if fw.do_not_track %}
          No download statistics are available for this firmware as
          <code>LVFS::DoNotTrack</code> is being used.
{% else %}
          <a href="{{fw.revisions[0].url}}">{{fw.md_prio.name_with_vendor}} {{fw.version_display}}</a>
          has been downloaded {{fw.download_cnt}} times.
        </p>
{% endif %}
{% if fw.signed_timestamp %}
<!-- Signed: {{fw.signed_timestamp}} -->
<!-- Remote >{{fw.remote.name}}< -->
{% endif %}
{% if fw.inhibit_download %}
        <p class="text-muted">
          A link for direct download is not available for end-users.
        </p>
{% endif %}
{% if fw.remote and fw.remote.is_signed and not fw.is_metadata_valid %}
        <div class="alert alert-info mt-1" role="alert">
          The remote metadata will be rebuilt in {{format_timedelta_approx(fw.remote.scheduled_signing)}}.
          This firmware has <strong>not</strong> yet been included in the XML catalog.
        </div>
{% endif %}
{% if fw.remote.is_public and not fw.report_success_cnt %}
        <p class="card-text alert alert-warning">
          Some operating systems may not offer this firmware as an update until a
          <a href="https://lvfs.readthedocs.io/en/latest/testing.html#signed-reports">fwupd success
          report</a> has been uploaded.
        </p>
{% endif %}
        <p class="card-text">
{% if fw.is_dirty %}
          <div class="alert alert-warning" role="alert">
            The firmware will be signed by the LVFS automatically.
          </div>
{% else %}
          The firmware is in the <code>{{fw.remote.name}}</code> remote.
{% if fw.target_duration.total_seconds() > 5 %}
          It was moved {{format_timedelta_approx(fw.target_duration)}}.
{% endif %}
{% endif %}
        </p>
        <div class="form-inline">
{% if not fw.is_deleted and fw.check_acl('@delete') %}
          <button type="button" class="btn btn-danger card-link m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
{% if fw.is_deleted and fw.check_acl('@undelete') %}
          <form class="input-group" action="{{url_for('firmware.route_undelete', firmware_id=fw.firmware_id)}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <button class="btn btn-warning card-link mx-1">Undelete</button>
          </form>
{% endif %}
{% if fw.is_deleted and fw.check_acl('@nuke') %}
          <button type="button" class="btn btn-danger card-link m-1" data-toggle="modal" data-target="#nukeModal">☠ Expunge ☠</button>
{% endif %}
{% if (fw.signed_timestamp and fw.check_acl('@resign')) or g.user.check_acl('@admin')  %}
          <button type="button" class="btn btn-warning card-link m-1" data-toggle="modal" data-target="#resignModal">Re-sign</button>
{% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 pl-xl-3">
    <div class="card overflow-hidden mt-3 mt-xl-0" style="min-width: 12rem">
      <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-2.png')}});"></div>
      <div class="card-body position-relative">
        <h2 class="card-title">Details</h2>
        <p class="card-text">
          <code>{{fw.original_filename}}</code> was uploaded {{format_humanize_naturaltime(fw.timestamp)}} by {{fw.user.username}}.
        </p>
        <p class="card-text">
          The firmware is now owned by <code>{{fw.vendor.group_id}}</code>.
        </p>
      </div>
    </div>
{% if fw.is_restricted %}
    <div class="card overflow-hidden mt-3" style="min-width: 12rem">
      <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-3.png')}});"></div>
      <div class="card-body position-relative">
        <h2 class="card-title">Security Restriction</h2>
        <p class="card-text">
          This firmware should not be pushed to a public remote until
          <code>{{fw.restricted_ts.strftime('%F')}}</code> due to a
          referenced security issue.
        </p>
{% if fw.check_acl('@derestrict') %}
          <button type="button" class="btn btn-danger card-link m-1" data-toggle="modal" data-target="#derestrictModal">Remove</button>
{% else %}
          <p>
            Only users with the appropriate ACLs can remove restrictions.
            Your vendor managers are:
          </p>
          <ul>
{% for u in fw.vendor.users %}
{% if u.check_acl('@vendor-manager') %}
            <li><a href="mailto:{{u.email_address}}">{{u.display_name}}</a></li>
{% endif %}
{% endfor %}
          </ul>
{% endif %}
      </div>
    </div>
{% endif %}
{% if fw.success != None %}
    <div class="card overflow-hidden mt-3" style="min-width: 12rem">
      <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-3.png')}});"></div>
      <h2 class="card-header card-title list-group-item-{{fw.color}}">
        {{fw.success|round(1)}}% Reported Success
      </h2>
      <div class="card-body position-relative">
{% if fw.report_success_cnt > 0 %}
        <p class="card-text">
          <a href="{{url_for('firmware.route_analytics_reports', firmware_id=fw.firmware_id, state=2)}}">
            {{fw.report_success_cnt}} success reports</a> have been uploaded.
        </p>
{% endif %}
{% if fw.report_failure_cnt > 0 %}
        <p class="card-text">
          <a href="{{url_for('firmware.route_analytics_reports', firmware_id=fw.firmware_id, state=3)}}">
            {{fw.report_failure_cnt}} failed reports</a> have been uploaded.
        </p>
{% endif %}
{% if fw.reports_verified %}
        <p class="card-text">
          This update has been verified by these vendors:
        </p>
        <ul class="list-group">
{% for rpt in fw.reports_verified %}
          <li class="list-group-item">
{% set verified_vendor = rpt.verified_vendor %}
{% if verified_vendor.icon %}
            <img class="fas" src="{{url_for('cdn', scope='uploads', filename=verified_vendor.icon)}}" width="22px" height="22px" />
{% endif %}
            {{verified_vendor.display_name}}
            <small>on {{rpt.verified_description}}</small>
{% if verified_vendor != rpt.user.vendor %}
            <p class="card-text text-muted">Non-public: Uploaded by affiliate {{rpt.user.vendor.display_name}}</p>
{% endif %}
          </li>
{% endfor %}
        </ul>
        <p class="card-text text-muted mt-3">
          The listing of the vendors above implies no endorsement or liability.
        </p>
{% endif %}
      </div>
    </div>
{% endif %}
{% if fw.banned_country_codes %}
    <div class="card overflow-hidden mt-3" style="min-width: 12rem">
      <div class="bg-holder bg-card" style="background-image:url({{url_for('cdn', filename='img/corner-1.png')}});"></div>
      <div class="card-body position-relative">
        <h2 class="card-title">
          Banned Countries
        </h2>
        <p class="card-text">
          The firmware cannot be downloaded from users in these countries:
          <ul>
{% for country_code in fw.banned_country_codes %}
          <li>{{format_iso3166(country_code)}}</li>
{% endfor %}
          </ul>
        </p>
      </div>
    </div>
{% endif %}
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Remove Firmware?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          Unless you are required to delete this file for legal or compliance reasons,
          removing a firmware is not recommended for the following reasons:
        </p>
        <ul>
          <li class="confirm">
            Users will only see the update descriptions for the latest released update,
            rather than all the details for unapplied updates.
          </li>
          <li class="confirm">
            Users who have installed this firmware will be unable to verify the hardware
            checksum as the information will be gone from the metadata.
          </li>
          <li class="confirm">
            Client tools have to take into account <b>all</b> the update severities of
            updates not yet installed.
            If the user has version 1.2.3 installed, 1.2.4 is a security update,
            and 1.2.5 is a low priority update we want to show the update from
            1.2.3&#8594;1.2.5 as high importance in a GUI.
          </li>
          <li class="confirm">
            Users cannot downgrade firmware versions if they encounter problems
            with the latest update.
            If downgrading to specific versions needs to be disabled for technical
            reasons, this can be handled inside the UEFI UpdateCapsule.
          </li>
          <li class="confirm">
            Anyone using old metadata and trying to download the firmware will
            get a &lsquo;404: File not found&rsquo; warning.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_delete', firmware_id=fw.firmware_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if fw.is_restricted and fw.check_acl('@derestrict') %}
<!-- modal dialog -->
<div class="modal" id="derestrictModal" tabindex="-1" role="dialog" aria-labelledby="derestrictModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="derestrictModalLabel">Really Remove Restriction?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          This should only be used in an emergency by a vendor manager when a
          CVE embargo has been broken.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_derestrict', firmware_id=fw.firmware_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if fw.is_deleted and fw.check_acl('@nuke') %}
<!-- modal dialog -->
<div class="modal" id="nukeModal" tabindex="-1" role="dialog" aria-labelledby="nukeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nukeModalLabel">Really Expunge Firmware?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          This will delete the firmware file and remove all audit history about
          the upload (including client downloads) PERMANENTLY.
          There is no way to recover the information short of reinstalling from
          a backup, so this action should only be done in exceptional
          circumstances.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_nuke', firmware_id=fw.firmware_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">☠ Expunge ☠</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if fw.check_acl('@resign') %}
<!-- modal dialog -->
<div class="modal" id="resignModal" tabindex="-1" role="dialog" aria-labelledby="resignModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resignModalLabel">Really Re-sign Firmware?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="card-text">
          This forces the LVFS regenerate the <code>metainfo.xml</code> file inside the archive,
          and will also resign the firmware with the LVFS GPG and PKCS-7 keys.
          These actions change the archive filename and checksum which could cause confusion.
        </p>
        <p class="card-text">
          You do not normally need to manually re-sign firmware as the LVFS will
          do it when required. If if doubt, click <em>Cancel</em>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('firmware.route_resign', firmware_id=fw.firmware_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-warning">Re-sign</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
