{% extends "default.html" %}

{% block title %}Partner Metadata{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Partner Metadata</h2>
{% if vendors|length == 0 %}
    <p class="card-text text-muted">No vendors have contributed metadata.</p>
{% else %}
    <p class="card-text">
      External teams contribute metadata about firmware releases from public
      sources such as a vendor home page.
    </p>
{% endif %}
  </div>
</div>

{% for v in vendors %}
<a name="{{v.group_id}}"></a>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      {{v.display_name}}
{% if v.icon %}
      <img class="img-thumbnail float-right" src="{{url_for('cdn', scope='uploads', filename=v.icon)}}" width="96"/>
{% else %}
      <img class="img-thumbnail float-right" src="{{url_for('cdn', scope='uploads', filename='vendor-unknown.png')}}" width="96"/>
{% endif %}
    </h2>
    <a class="card-link btn btn-primary mt-3" href="{{url_for('mdsync.route_vendors', vendor_id_partner=v.vendor_id)}}">Show devices</a>
  </div>
</div>
{% endfor %}

{% if g.user.check_acl('@admin') %}
<form method="post" action="{{url_for('mdsync.route_import')}}" class="form" enctype="multipart/form-data">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Manual upload</h2>
    <p class="card-text">
      <input class="form-control mb-3" type="file" name="file" required/>
      <input class="card-link btn btn-primary" type="submit" value="Add">
    </p>
  </div>
</div>
</form>
{% endif %}

{% endblock %}
