{% extends "default.html" %}
{% block title %}Task Schedulers{% endblock %}
{% block nav %}{% include 'task-nav.html' %}{% endblock %}

{% block content %}

{% if task_scheds|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Tasks</h2>
    <p class="card-text">
      No tasks schedulers have been created.
    </p>
  </div>
</div>

{% else %}

{% for task_sched in task_scheds %}
{% set task = task_sched.task %}

{% if task %}
<form id="retry_{{task.task_id}}" action="{{url_for('tasks.route_retry', task_id=task.task_id)}}" method="POST">
  <input form="retry_{{task.task_id}}" type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
</form>
{% endif %}

<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{task_sched.color}}">
      <code>{{task_sched.function}}</code>
{% if task_sched.interval %}
    <span class="float-right">every {{task_sched.interval}}h</span>
{% endif %}
  </h2>
  <div class="card-body">
{% if task %}
    <table class="table">
      <tr class="row table-borderless">
        <th class="col-3">Creating User</th>
        <td class="col-9"><code>{{task.user.username}}</code></td>
      </tr>
      <tr class="row">
        <th class="col-3">Priority</th>
        <td class="col-9">{{task.priority_description}}</td>
      </tr>
{% if task.value %}
      <tr class="row">
        <th class="col-3">Value</th>
        <td class="col-9"><code>{{task.value}}</code></td>
      </tr>
{% endif %}
{% if task.started_ts %}
      <tr class="row">
        <th class="col-3">Started</th>
        <td class="col-9">{{task.started_ts.strftime('%F %T')}}</td>
      </tr>
{% endif %}
{% if task.ended_ts %}
      <tr class="row">
        <th class="col-3">Duration</th>
        <td class="col-9">{{format_humanize_naturaldelta(task.ended_ts - task.started_ts)}}</td>
      </tr>
{% endif %}
    </table>
{% if task.attributes %}
    <ul class="card-text">
{% for attr in task.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% endif %}
{% endif %}
    <a class="card-link btn btn-info"
      href="{{url_for('tasks.route_scheduler_show', task_scheduler_id=task_sched.task_scheduler_id)}}"
      role="button">Details &raquo;</a>
{% if task and task.ended_ts %}
    <button form="retry_{{task.task_id}}" class="card-link btn btn-warning float-right">Retry</button>
{% endif %}
  </div>
</div>
{% endfor %}


{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new task scheduler</h2>
    <form method="post" action="{{url_for('tasks.route_scheduler_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group card-text">
        <label for="value">Function name:</label>
        <input class="form-control" type="text" id="function" name="function" placeholder="lvfs.main.utils.task_regenerate" required />
      </div>
      <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
  </div>
</div>

{% endblock %}
