{% extends "default.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
{% if search_size < 0 %}
    <p class="text-muted">Search for firmware or hardware vendors using the top bar&hellip;</p>
{% elif mds|length == 0 and vendors|length == 0 %}
    <h2 class="card-title">No results found for <i>{{keywords_bad|join(',')}}</i>.</h2>
{% else %}
{% if keywords_good|length > 0 and keywords_bad|length > 0 and vendors|length == 0 %}
    <h2 class="card-title">Showing {{mds|length}} of {{search_size}} results for <i>{{keywords_good|join(',')}},<strike>{{keywords_bad|join(',')}}</strike></i>:</h2>
{% else %}
    <h2 class="card-title">Showing {{mds|length + vendors|length}} of {{search_size + vendors|length}} results for <i>{{keywords_good|join(',')}}</i>:</h2>
{% endif %}
<table class="table table-striped card-text">
{% for vendor in vendors %}
  <tr class="row">
    <td class="col col-sm-1">
{% if vendor.icon %}
      <img class="img-thumbnail" src="{{url_for('cdn', scope='uploads', filename=vendor.icon)}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="{{url_for('cdn', scope='uploads', filename='vendor-unknown.png')}}" height="64"/>
{% endif %}
    </td>
    <td class="col col-sm-11">
      <h4>
        <a href="{{url_for('vendors.route_list')}}#{{vendor.group_id}}">
          {{vendor.display_name_with_team}}
        </a>
      </h4>
      <ul class="list-group card-text">
{% if vendor.fws_stable %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
      Responsible for {{vendor.fws_stable}} firmware files,
{% if vendor.fws_stable_recent %}
      {{vendor.fws_stable_recent}} uploaded recently
{% else %}
      none uploaded recently
{% endif %}
    </li>
{% elif vendor.fws and not vendor.is_odm %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
      Has uploaded test firmware
    </li>
{% endif %}
{% if vendor.is_odm %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
      Is uploading firmware on behalf of other vendors
    </li>
{% elif vendor.is_account_holder %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
      Has account on the LVFS
    </li>
{% else %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
      Is not uploading firmware to the LVFS
    </li>
{% endif %}
{% if vendor.psirt_url %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
      Has a <a href="{{vendor.psirt_url}}">Product Security Incident Response Team</a>
    </li>
{% elif vendor.fws_stable %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
      Does not have a Product Security Incident Response Team
    </li>
{% endif %}
{% if vendor.restrictions %}
    <li class="list-group-item">
      <img class="mr-2" src="{{url_for('cdn', filename='img/info-circle-solid.svg')}}" width="22px" height="22px" />
      Restricted to upload firmware for any hardware with vendor IDs:
      <ul>
{% for restriction in vendor.restrictions %}
        <li><code>{{restriction.value}}</code></li>
{% endfor %}
      </ul>
    </li>
{% endif %}
      </ul>
    </td>
  </tr>
{% endfor %}
{% for md in mds %}
  <tr class="row">
    <td class="col col-sm-1">
{% if md.fw.vendor.icon %}
      <img class="img-thumbnail" src="{{url_for('cdn', scope='uploads', filename=md.fw.vendor.icon)}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="{{url_for('cdn', scope='uploads', filename='vendor-unknown.png')}}" height="64"/>
{% endif %}
    </td>
    <td class="col col-sm-11">
      <a href="{{url_for('devices.route_show', appstream_id=md.appstream_id)}}">{{md.name_with_category}}</a><br/>
      Vendor: {{md.fw.vendor.display_name_with_team}}<br/>
      Latest Version: {{md.version_display}}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
  </div>
</div>

{% if not mds and not g.user is defined %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-info">
    Not found what you were looking for?
  </h2>
  <div class="card-body">
    <p class="card-text">
      If you didn't find the hardware you were looking for <b>please contact
      your hardware vendor and ask them to support the LVFS.</b>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
