{% extends "default.html" %}
{% block title %}License Alias Values{% endblock %}

{% block nav %}{% include 'license-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">License Alias Values for <code>{{lic.value}}</code></h2>
{% if lic.alias_values|length == 0 %}
    <p class="text-muted">No values have been added.</p>
{% endif %}
<table class="table card-text">
{% if lic.alias_values|length %}
  <tr class="row table-borderless">
    <th class="col col-sm-4">Value</th>
    <th class="col col-sm-6">Added by</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% endif %}
{% for lic_alias in lic.alias_map %}
  <tr class="row">
    <td class="col col-sm-4"><code>{{lic_alias.value}}</code></td>
    <td class="col col-sm-6">{{lic_alias.user.username}} {{format_humanize_naturaltime(lic_alias.ctime)}}</td>
    <td class="col col-sm-2">
      <form action="{{url_for('licenses.route_alias_delete', license_id=lic_alias.license_id, license_alias_id=lic_alias.license_alias_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn btn-block btn-warning">Delete</button>
      </form>
    </td>
  </tr>
{% endfor %}
<form method="post" action="{{url_for('licenses.route_alias_create', license_id=lic.license_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-sm-10">
      <input type="text" class="form-control" name="value" value="" placeholder="GPLv2+..." required>
    </td>
    <td class="col col-sm-2"><input type="submit" class="btn-block btn btn-primary" value="Add"></td>
  </tr>
</form>
</table>
  </div>
</div>

{% endblock %}
