<!DOCTYPE html>
<!-- Copyright 2015 Richard Hughes <richard@hughsie.com>
     SPDX-License-Identifier: GPL-2.0-or-later -->
<html lang="en">
  <head>
    <title>LVFS: {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="{{url_for('cdn', filename='theme.css')}}">
    <link rel="stylesheet" href="{{url_for('cdn', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('cdn', filename='favicon.ico')}}"/>
{% block head %}
{% endblock %}
  </head>
  <body>
    <main class="main" id="top">
{% block body %}
{% endblock %}
    </main>

<script src="{{url_for('cdn', filename='jquery-3.5.1.slim.min.js')}}"></script><!-- https://code.jquery.com/jquery-3.5.1.slim.min.js -->
<script src="{{url_for('cdn', filename='popper.min.js')}}"></script><!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js -->
<script src="{{url_for('cdn', filename='bootstrap.min.js')}}"></script><!-- https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js -->
<script src="{{url_for('cdn', filename='theme.js')}}"></script>
<script src="{{url_for('cdn', filename='custom.js')}}"></script>
{% block script %}
{% endblock %}
  </body>
</html>
