{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

<script src="{{url_for('cdn', filename='Chart.js')}}"></script>

<script>
Chart.defaults.global.animation = false;
</script>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Issue Timeline Versions</h2>
    <canvas id="metadataChart" width="1000" height="500"></canvas>
  </div>
</div>

<script>
var ctx = document.getElementById("metadataChart").getContext("2d");
const data = {
  labels: [
{% for ds in datasets %}
    '{{ds.label}}',
{% endfor %}
  ],
  datasets: [
{% for ds in datasets %}
    {
      label: "{{ds.label}}",
      borderColor: "#{{ds.color}}",
      backgroundColor: "#{{ds.color}}",
      data: [{% for val in ds.data %}{{val|safe}},{% endfor %}],
    },
{% endfor %}
  ]
};

new Chart(ctx, {
    type: 'bubble',
    data: data,
    options: {
    scales: {
      xAxes: [{
        ticks: {
          precision: 0,
        },
      }],
      yAxes: [{
        ticks: {
          precision: 0,
        },
        scaleLabel: {
          display: true,
          labelString: 'Delta (days)',
        },
      }]
    }
    }
});

</script>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Raw Data</h2>
    <table class="table">
      <tr class="row table-borderless">
        <th class="col col-sm-2">Issue ID</th>
        <th class="col col-sm-5">Product</th>
        <th class="col col-sm-2">Released</th>
        <th class="col col-sm-1">Delta</th>
        <th class="col col-sm-2">&nbsp;</th>
      </tr>
{% for issue in data %}
{% for md in data[issue] %}
      <tr class="row">
        <td class="col col-sm-2">
          <code>{{issue.value_display}}</code>
          <p class="text-secondary">Public on {{issue.published.strftime("%Y-%m-%d")}}</p>
        </td>
        <td class="col col-sm-5">{{md.name_with_vendor}}</td>
        <td class="col col-sm-2">{{md.fw.release_ts.strftime("%F")}}</td>
        <td class="col col-sm-1">{{issue.release_delta}}</td>
        <td class="col col-sm-2"><a class="btn-block btn btn-info" href="{{url_for('components.route_show', component_id=md.component_id)}}">Details</a></td>
      </tr>
{% endfor %}
{% endfor %}
    </table>
  </div>
</div>

{% endblock %}
